* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 1. Vị trí
   2. Kích thước
   3. Màu sắc
   4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.main{
    position: relative;

}

.text-white {
    color: #fff !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
   
    padding-left: 8px;
    padding-right: 8px;
}

.col-3 {
    width: 33.3333%;
}
.col-2 {
    width: 50%;
}
.col-1 {
    width: 100%;
}

.header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}



.nav {
   display: inline-block;

}

.nav > li{
    display: inline-block;
   
}
.nav li{
    position: relative;
}

.nav .sub-nav li:hover,
.nav > li:hover > a  {
    color: #000;
    background-color: #ccc ;
    display: inline-block;
}

.nav li:hover .sub-nav{
    display: block;
}

.nav > li > a {
color: white;
text-transform: uppercase;
}

.nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;

}

.nav .sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
    
}
.sub-nav li {
    width: 100%;
}

.nav .sub-nav a {
    color: #000;
    
}

.nav, .sub-nav {
    list-style-type: none;
}

.header .mobile-menu-btn,
.header .search-btn {
    display: inline;
    padding: 0 20px;
    color: white;
    float: right;
    line-height: 46px;
}

.header  .search-btn:hover {
    background-color: rgb(243, 26, 22);
    cursor: pointer;
}

.header .mobile-menu-btn{
    display: none;
}

.header .mobile-menu-btn:hover{
    background-color: #ccc;
    color: #000;
}


.slider {
    margin-top: 46px;
    position: relative;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 50%;
    background-image: url('/assets/img/slider1.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; */
    
}

.slider .my-slider {
    display: none;
}

.slider .my-slider img {
    width: 100%;
    
}

.slider .active {
    display: block;
}

.slider .text-content{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.slider .text-heading {
    margin-bottom: 20px;
}



.content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-top: 60px;
    padding-right: 16px;
    padding-left: 16px;
}

.content .section-heading{
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
}


.content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: italic;
}

.content .section-description {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}

.content .member-list {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -8px;
    
}
.content .member-item {
    display: inline-block;
    text-align: center;
    width: 33.333333%; 
}

.content .member-name {
    letter-spacing: 0;
    margin-bottom: 10px;
}

.content .member-avt {
    border-radius: 10px;
    width: 60%;
}

.content .tour-section {
    background-color: #000;
    padding-top: 5px;
    padding-bottom: 20px;
    
}
.content .ticket-list {
    background-color: #fff;
} 

.content .ticket-list li {
    list-style-type: none;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.content .sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 0 10px;
}

.content .quantity {
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: #fff;
    margin-left: 16px;
    margin-top: -3px;
}

.content .place-list{
    margin-top: 32px;
    justify-content: space-between;
    padding-bottom: 45px;

}

.content .place-list img{
  width: 100%;
  display: block;
}

.content .place-list img:hover {
    opacity: 0.6;

}

.content .place-body{
    background-color: #fff;
    font-size: 16px;
    padding: 16px;

}

.content .place-heading{
    font-size: 15px;
    font-weight: 600;
}

.content .place-time{
    font-size: 15px;
    margin-top: 15px;
    color: #757575;
}

.content .place-desc{
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.4;
}

.content .place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.content .place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
    
}

.content .contact-content {
    margin-top: 40px;
}

.content .contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.content .contact-info i {
    width: 30px;
    display: inline-block;
    
}

.content .contact-form .form-control {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;

}

.content .contact-submit {
    background-color: #000;
    color: #fff !important;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}

.content .contact-submit:hover{
    background-color: #ccc;
    color: #000 !important;
    border-color: #ccc;
    cursor: pointer;
}

.map-section img {
    width: 100%;
}



.footer {
    padding: 64px 16px;
    text-align: center;
}

.footer .social-list {
   font-size: 24px;
}

.footer .social-list a {
   text-decoration: none;
   color: rgba(0,0,0,0.6);
}

.footer .copyright a,
.footer .social-list a:hover {
   color: rgba(0,0,0,0.4);
}

.footer .copyright {
   margin-top: 15px;
   color: rgba(0,0,0,0.6);
}